.wrap {
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}
.wrap h1{
	font-size: 30px;
	padding:50px; 
}
.track {
  display: inline-block;
  width: 350px;
  height: 0;
  border-top: 8px dotted #a1a1a1;
}

.ghosts {
  display: block;
  position: relative;
  top: 0px;
  backgound-color: #fff;
}
.ghosts .ghost-1, .ghosts .ghost-2 {
  display: block;
  position: absolute;
  width: 45px;
  height: 55px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  top: -35px;
}
.ghosts .ghost-1 .foot-1, .ghosts .ghost-1 .foot-2, .ghosts .ghost-1 .foot-3, .ghosts .ghost-2 .foot-1, .ghosts .ghost-2 .foot-2, .ghosts .ghost-2 .foot-3 {
  transform: rotate(45deg);
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #222;
  border-radius: 2px;
  top: 51px;
}
.ghosts .ghost-1:before, .ghosts .ghost-1:after, .ghosts .ghost-2:before, .ghosts .ghost-2:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: blue;
  border: 4px solid #fff;
  border-radius: 50%;
  top: 13px;
}
.ghosts .ghost-1 {
  background-color: #01dbd7;
  left: -40px;
}
.ghosts .ghost-1 .foot-1 {
  left: 1px;
}
.ghosts .ghost-1 .foot-2 {
  left: 16px;
}
.ghosts .ghost-1 .foot-3 {
  left: 30px;
}
.ghosts .ghost-1:before {
  left: 15px;
}
.ghosts .ghost-1:after {
  left: 30px;
}
.ghosts .ghost-2 {
  background-color: #fe2601;
  left: 100%;
  margin-left: -5px;
}
.ghosts .ghost-2 .foot-1 {
  left: 1px;
}
.ghosts .ghost-2 .foot-2 {
  left: 16px;
}
.ghosts .ghost-2 .foot-3 {
  left: 30px;
}
.ghosts .ghost-2:before {
  left: 2px;
}
.ghosts .ghost-2:after {
  left: 18px;
}

.pacman {
  width: 0px;
  height: 0px;
  position: relative;
  top: 0px;
  animation: movepacman 3.5s linear infinite;
}

.loader {
  display: inline-block;
  position: relative;
}
.loader .topchomp, .loader .bottomchomp {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border: 30px solid #fef200;
  border-radius: 50%;
  top: -48px;
}
.loader .topchomp {
  border-right-color: transparent;
  animation: topchomp 0.3s linear infinite;
}
.loader .topchomp:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #222;
  border-radius: 50%;
  top: -22px;
  left: -5px;
  z-index: 999;
}
.loader .bottomchomp {
  border-top-color: transparent;
  border-right-color: transparent;
  animation: bottomchomp 0.3s linear infinite;
}

@keyframes topchomp {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
}
@keyframes bottomchomp {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}
@keyframes movepacman {
  0% {
    left: 17%;
  }
  45% {
    left: 83%;
    transform: rotateY(0deg);
  }
  50% {
    left: 83%;
    transform: rotateY(180deg);
  }
  95% {
    left: 17%;
    transform: rotateY(180deg);
  }
  100% {
    left: 17%;
    transform: rotateY(0deg);
  }
}


.dataTables_info{
	margin-top: 22px;
}
.dataTables_paginate{
	float: right;
}
.dataTables_filter label{
	float: right;
}
.dataTables_length label{
	display: inline-flex;
	line-height: 3;
	margin-top: 25px;
}
.dataTables_length .form-group{
	margin: 0;
}
.double-line {
  width: 170px;
  position: relative;
  border-bottom: solid 3px #dedfe1;
  margin-bottom: 20px;
}
.double-line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: -3px;
  margin-left: 55px;
  margin-top: 0px;
  width: 65px;
  background: #395599;
  z-index: 0;
}
#primary-menu li a:hover{
  color: #fff !important;
}
.img-berita{
  width: 100%;
  height: 200px;
}
.list-group a{
  border-left: 5px solid transparent;
  border-left:solid 1px #ddd;
  border-radius: 0;
  font-size: 14px;
}
.list-group a:focus {
  border:solid 1px #ddd;
}
.list-group a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1883d7;
  border:solid 1px #ddd;
}
.list-group a.active:hover {
  border:solid 1px #ddd;
}
.list-group a.active{
  border-left: 5px solid #1883d7 !important;
  color: #6c6c6c !important;
  padding-left: 15px;
  border-color: #ddd;
  font-weight: bold;
  background-color: transparent;
}
ol li{
  padding: 5px;
}
@media(max-width: 768px){
  .col-md-8{
    padding: 0 !important;
    border-right: none !important;
    height: auto !important;
  }
}
#accordion-style-1 h1,
#accordion-style-1 a{
  color:#395599;
}
#accordion-style-1 .btn-link {
  font-weight: 400;
  color: #395599;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}

#accordion-style-1 .card-body {
  border-top: 2px solid #395599;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
  display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
  background: #395599;
  padding: 13px 11px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display:block;
}
/* Row Team */
.blog{
  margin-top: 30px;
}
.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom:10px;
    cursor: pointer;
}

.blog .carousel-indicators .active {
background: #707070;
margin-bottom:10px;
}

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background: url(img/service-section-bottom.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 0 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #395599;
}
.our-team:hover {
  border-bottom: 5px solid #143278;
}

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #395599;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
  height: 100%;
  background: #143278;
}
.our-team .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 8px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img {
  box-shadow: 0 0 0 8px #3cb46e;
}
.our-team .team-content {
  margin-bottom: 30px;
}
.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.our-team .social {
  width: 100%;
  padding-top: 10px;
  margin: 0;
  background: #143278;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social {
  bottom: 0;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  padding-top: 6px;
  font-size: 15px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
  color: #143278;
  background: #f7f5ec;
}
@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 10px;
  }
}
